.payment-form {
    margin-left: 23px;
}

.payment-form__category {
    width: 433px;
}

.payment-form__description {
    width: 433px;
}

.payment-form__payee {
    width: 433px;
}

.payment-form__amount {
    margin-right: 10px;
}

.payment-form__income-or-expense {
    width: 212px;
    margin-right: 15px;
}

.payment-form__payment-date {
    width: 212px;
    margin-right: 10px;
}

.payment-form__end-date {
    width: 212px;
    margin-right: 10px;
}

.payment-form__buttons {
    margin-right: 16px;
}




