
<mat-form-field class="category-list__search-filter" appearance="outline" matTooltip="Kategorien filtern">
    <mat-label>Suche</mat-label>
    <input matInput (keyup)="filterCategories($event)" placeholder="Bitte einen Suchbegriff eingeben">
</mat-form-field>

<div class="category-list__table">
    <table mat-table [dataSource]="categoryDataSource" matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header="name" *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
                <button
                    mat-icon-button color="primary"
                    matTooltip="Neue Kategorie"
                    (click)="openCreateCategoryDialog()">
                    <mat-icon>add</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let row;">
                <button
                    mat-icon-button
                    color="accent"
                    matTooltip="Kategorie bearbeiten"
                    (click)="openEditCategoryDialog(row)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button
                    mat-icon-button
                    [disabled]="row.isCategoryUsed"
                    matTooltip="Kategorie entfernen"
                    (click)="deleteCategory(row)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="categoryListTableColumns sticky: true"></tr>
        <tr class="category-list__table-row" mat-row *matRowDef="let row; columns: categoryListTableColumns;"></tr>

        <tr class="no-data" *matNoDataRow>
            <td>Keine Kategorien gefunden.</td>
        </tr>
    </table>
</div>
<mat-paginator
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
 </mat-paginator>
