table {
    width: 100%;
}

td, th {
    width: 25%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.filter{
    display: flex;
}

.filter-table {
    flex-basis: 300px;
    margin-right: 100px;
}

.filter-default-category {
    flex-basis: 150px;
    margin-right: 15px;
}

