.payment-list__filter {
    display: flex;
    flex-direction: column;
}

/* große Viewports */
@media all and (min-width: 30em) {
    .payment-list__filter {
        display: flex;
        flex-direction: row;
    }
}

.payment-list__filter-base {
    flex: auto;
    text-align: left;
}

.payment-list__filter-base__search {
    min-width: 400px;
    margin-right: 15px;
}

.payment-list__filter-base__income-expense {
    min-width: 300px;
    margin-right: 60px;
}

.payment-list__filter-date {
    flex: auto;
}

.payment-list__filter-date__form {
    width: 250px;
    margin-right: 11px;
}

.payment-list__table {
    position: relative;
    min-height: 200px;
    max-height: 700px;
    overflow: auto;
}

.category-list__table-row:hover {
    background: whitesmoke;
}

.no-data {
    text-align: center;
    font-size: large;
}



