.category-form__name {
    margin-left: 23px;
}

.category-form__name-input {
    width: 300px;

}

.category-dialog__buttons {
    text-align: RIGHT;
    margin-RIGHT: 15px;
}


.category-dialog__button-close {
    margin: 10px;

}

