.category-form {
    margin-left: 23px;
}

.category-form__name {
    width: 300px;

}

.category-dialog__buttons {
    text-align: right;
    margin-right: 15px;
}


.category-dialog__button-close {
    margin: 10px;
}

