<h2 mat-dialog-title>{{data.id ? 'Kategorie bearbeiten' : 'Neue Kategorie erstellen'}}</h2>
<form [formGroup]="categoryForm">
    <div class="category-form__name">
        <mat-form-field class="category-form__name-input" appearance="outline">
            <mat-label>Kategorie</mat-label>
            <input matInput formControlName="name" placeholder="Kategorie">
            <mat-error *ngIf="formControl['name'].invalid && formControl['name'].touched">
                <label *ngIf="formControl['name'].errors && formControl['name'].errors['required']">Dies ist ein Pflichtfeld.</label>
            </mat-error>
        </mat-form-field>

    </div>
    <div class="category-dialog__buttons">
        <button mat-raised-button class="category-dialog__button-close" (click)="onClose()">Abburch</button>
        <button mat-raised-button type="submit" color="primary" (click)="saveCategory()" [disabled]="categoryForm.invalid">Speichern</button>
    </div>
</form>


