<h2 mat-dialog-title>{{data.id ? 'Kategorie bearbeiten' : 'Neue Kategorie erstellen'}}</h2>
<form [formGroup]="categoryForm">
    <div class="category-form">
        <mat-form-field class="category-form__name" appearance="fill">
            <mat-label>Kategorie</mat-label>
            <input matInput formControlName="name" placeholder="Kategorie">
            <mat-error *ngIf="formControl['name'].invalid && formControl['name'].touched">
                <label *ngIf="formControl['name'].errors && formControl['name'].errors['required']">Dies ist ein Pflichtfeld.</label>
            </mat-error>
        </mat-form-field>
    </div>
</form>
<mat-dialog-actions class="category-form__buttons" align="end">
    <button mat-raised-button (click)="onClose()">Abbrechen</button>
    <button mat-raised-button type="submit" color="primary" (click)="saveCategory()" [disabled]="categoryForm.invalid">Speichern</button>
</mat-dialog-actions>


