.payment-list__base-filter {
    justify-content: flex-start;

}

.payment-list__search-filter {
    min-width: 400px;
    margin-right: 15px;
}

.payment-list__income-expense-filter {
    min-width: 300px;
    margin-right: 10px;
}

.payment-list__date-filter {
    text-align: right;
}

.payment-list__form__date-filter {
    width: 150px;
    margin-right: 15px;
}

.payment-list__table {
    position: relative;
    min-height: 200px;
    max-height: 700px;
    overflow: auto;
}

.category-list__table-row:hover {
    background: whitesmoke;
}

.no-data {
    text-align: center;
    font-size: large;
}



