/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.success.mat-snack-bar-container {
    color: white;
    background: #00cc00;
}
.error.mat-snack-bar-container {
    color: white;
    background: #cc0000;
}
