.sidenav-container {
    height: 100%;
  }

.sidenav {
    width: 170px;
}

.sidenav .mat-toolbar {
    background: inherit;
}


.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.toolbar-button {
    justify-content: flex-end;
    margin: 10px;
}

.content {
    padding: 15px;
}

.mat-icon {
    vertical-align: middle;
    font-size: 20px;
}



